/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define HYPR_SPC RC(RS(RA(RCMD))) SPACE

/ {
  combos {
    compatible = "zmk,combos";
    // Enter bootloader in left half
    lreset {
      key-positions = <1 2 3 4>;
      bindings = <&bootloader>;
    };
    // Enter bootloader in right half
    rreset {
      key-positions = <7 8 9 10>;
      bindings = <&bootloader>;
    };
    // COMMON PROGRAMMING SYMBOLS
    lexcl {
      key-positions = <2 3>;
      bindings = <&kp LA(N1)>;
    };
    rexcl {
      key-positions = <3 4>;
      bindings = <&kp EXCL>;
    };
    grave {
      key-positions = <2 4>;
      bindings = <&kp GRAVE>;
    };
    tilde {
      key-positions = <2 3 4>;
      bindings = <&kp TILDE2>;
    };
    lques {
      key-positions = <14 15>;
      bindings = <&kp LS(LA(FSLH))>;
    };
    rques {
      key-positions = <15 17>;
      bindings = <&kp LS(FSLH)>;
    };
    minus {
      key-positions = <26 27>;
      bindings = <&kp MINUS>;
    };
    plus {
      key-positions = <27 28>;
      bindings = <&kp PLUS>;
    };
    caret {
      key-positions = <14 16>;
      bindings = <&kp CARET>;
    };
    dollar {
      key-positions = <14 15 16>;
      bindings = <&kp DLLR>;
    };
    lpar {
      key-positions = <7 8>;
      bindings = <&kp LPAR>;
    };
    rpar {
      key-positions = <8 9>;
      bindings = <&kp RPAR>;
    };
    lbrk {
      key-positions = <19 20>;
      bindings = <&kp LBKT>;
    };
    rbrk {
      key-positions = <20 21>;
      bindings = <&kp RBKT>;
    };
    lbrc {
      key-positions = <31 32>;
      bindings = <&kp LBRC>;
    };
    rbrc {
      key-positions = <32 33>;
      bindings = <&kp RBRC>;
    };
    asterisk {
      key-positions = <31 33>;
      bindings = <&kp ASTRK>;
    };
    sqt {
      key-positions = <7 9>;
      bindings = <&kp SQT>;
    };
    dqt {
      key-positions = <7 8 9>;
      bindings = <&kp DQT>;
    };
    hash {
      key-positions = <31 32 33>;
      bindings = <&kp HASH>;
    };
    equal {
      key-positions = <19 21>;
      bindings = <&kp EQUAL>;
    };
    colon {
      key-positions = <19 20 21>;
      bindings = <&kp COLON>;
    };
    underscore {
      key-positions = <28 31>;
      bindings = <&kp UNDER>;
    };
    at {
      key-positions = <17 18>;
      bindings = <&kp AT>;
    };
    or {
      key-positions = <4 7>;
      bindings = <&kp PIPE>; 
    };
    and {
      key-positions = <16 19>;
      bindings = <&kp AMPS>;
    };
    fslh {
      key-positions = <19 8>;
      bindings = <&kp FSLH>;
    };
    bslh {
      key-positions = <19 8>;
      bindings = <&kp BSLH>;
    };
    prcnt {
      key-positions = <7 33>;
      bindings = <&kp PRCNT>;
    };
  };
  keymap {
    compatible = "zmk,keymap";
    base {
      bindings = <
      // ┏━━━━━━0━━━━━━┳━━━━━━1━━━━━━┳━━━━━━2━━━━━━┳━━━━━━3━━━━━━┳━━━━━━4━━━━━━┳━━━━━━5━━━━━━┓   ┏━━━━━━6━━━━━━┳━━━━━━7━━━━━━┳━━━━━━8━━━━━━┳━━━━━━━9━━━━━┳━━━━━━10━━━━━┳━━━━━11━━━━━━┓
      // ┃  TAB        ┃  Q          ┃  W          ┃  E          ┃  R          ┃  T          ┃   ┃  Y          ┃  U          ┃  I          ┃  O          ┃  P          ┃  BS         ┃
           &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
      // ┣━━━━━12━━━━━━╋━━━━━13━━━━━━╋━━━━━14━━━━━━╋━━━━━15━━━━━━╋━━━━━16━━━━━━╋━━━━━17━━━━━━┫   ┣━━━━━18━━━━━━╋━━━━━19━━━━━━╋━━━━━20━━━━━━╋━━━━━━21━━━━━╋━━━━━━22━━━━━╋━━━━━23━━━━━━┫
      // ┃  SHIFT      ┃  A          ┃  S          ┃  D          ┃  F          ┃      G      ┃   ┃  H          ┃  J          ┃  K          ┃  L          ┃  ;:         ┃  ENT        ┃
           &kp LSHFT     &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp RET
      // ┣━━━━━24━━━━━━╋━━━━━25━━━━━━╋━━━━━26━━━━━━╋━━━━━27━━━━━━╋━━━━━28━━━━━━╋━━━━━29━━━━━━┫   ┣━━━━━30━━━━━━╋━━━━━31━━━━━━╋━━━━━32━━━━━━╋━━━━━━33━━━━━╋━━━━━━34━━━━━╋━━━━━35━━━━━━┫
      // ┃  CTRL       ┃  Z          ┃  X          ┃  C          ┃  V          ┃  B          ┃   ┃  N          ┃  M          ┃  ,‹         ┃  .›         ┃  /?         ┃             ┃
           &kp LCTRL     &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &none
      // ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━36━━━━━━╋━━━━━37━━━━━━╋━━━━━38━━━━━━┫   ┣━━━━━39━━━━━━╋━━━━━40━━━━━━╋━━━━━41━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┛
      //                                           ┃  ALT        ┃  NAV        ┃  GUI        ┃   ┃  SPC        ┃  SYMB       ┃  ESC        ┃ 
                                                     &kp LALT      &mo 1         &kp LGUI          &mt HYPR_SPC  &mo 2         &kp ESC                                           
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
    navigation {
      bindings = <
      // ┏━━━━━━0━━━━━━┳━━━━━━1━━━━━━┳━━━━━━2━━━━━━┳━━━━━━3━━━━━━┳━━━━━━4━━━━━━┳━━━━━━5━━━━━━┓   ┏━━━━━━6━━━━━━┳━━━━━━7━━━━━━┳━━━━━━8━━━━━━┳━━━━━━━9━━━━━┳━━━━━━10━━━━━┳━━━━━11━━━━━━┓
      // ┃  TAB        ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃             ┃             ┃             ┃             ┃  BS         ┃
           &trans        &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &trans
      // ┣━━━━━12━━━━━━╋━━━━━13━━━━━━╋━━━━━14━━━━━━╋━━━━━15━━━━━━╋━━━━━16━━━━━━╋━━━━━17━━━━━━┫   ┣━━━━━18━━━━━━╋━━━━━19━━━━━━╋━━━━━20━━━━━━╋━━━━━━21━━━━━╋━━━━━━22━━━━━╋━━━━━23━━━━━━┫
      // ┃  SHIFT      ┃             ┃             ┃             ┃             ┃             ┃   ┃  ←          ┃  ↓          ┃  ↑          ┃  →          ┃             ┃  ENT        ┃
           &trans        &none         &none         &none         &none         &none             &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none         &trans
      // ┣━━━━━24━━━━━━╋━━━━━25━━━━━━╋━━━━━26━━━━━━╋━━━━━27━━━━━━╋━━━━━28━━━━━━╋━━━━━29━━━━━━┫   ┣━━━━━30━━━━━━╋━━━━━31━━━━━━╋━━━━━32━━━━━━╋━━━━━━33━━━━━╋━━━━━━34━━━━━╋━━━━━35━━━━━━┫
      // ┃  CTRL       ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃             ┃             ┃             ┃             ┃             ┃
           &trans        &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &trans
      // ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━36━━━━━━╋━━━━━37━━━━━━╋━━━━━38━━━━━━┫   ┣━━━━━39━━━━━━╋━━━━━40━━━━━━╋━━━━━41━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┛
      //                                           ┃  ALT        ┃  NAV        ┃  GUI        ┃   ┃  SPC        ┃  ADJUST     ┃  ESC        ┃
                                                     &trans        &trans        &trans            &trans        &mo 3         &trans
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
    numbers {
      bindings = <
      // ┏━━━━━━0━━━━━━┳━━━━━━1━━━━━━┳━━━━━━2━━━━━━┳━━━━━━3━━━━━━┳━━━━━━4━━━━━━┳━━━━━━5━━━━━━┓   ┏━━━━━━6━━━━━━┳━━━━━━7━━━━━━┳━━━━━━8━━━━━━┳━━━━━━━9━━━━━┳━━━━━━10━━━━━┳━━━━━11━━━━━━┓
      // ┃  TAB        ┃  1!         ┃  2@         ┃  3#         ┃  4$         ┃  5%         ┃   ┃  N6^        ┃  N7*        ┃  N8*        ┃  N9(        ┃  N0)        ┃  BS         ┃
           &trans        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &trans
      // ┣━━━━━12━━━━━━╋━━━━━13━━━━━━╋━━━━━14━━━━━━╋━━━━━15━━━━━━╋━━━━━16━━━━━━╋━━━━━17━━━━━━┫   ┣━━━━━18━━━━━━╋━━━━━19━━━━━━╋━━━━━20━━━━━━╋━━━━━━21━━━━━╋━━━━━━22━━━━━╋━━━━━23━━━━━━┫
      // ┃  SHIFT      ┃  A          ┃  S          ┃  D          ┃  F          ┃  G          ┃   ┃  H          ┃  (          ┃  )          ┃  L          ┃  ;:         ┃  ENT        ┃
           &trans        &trans        &trans        &trans        &trans        &trans            &trans        &kp LPAR      &kp RPAR      &trans        &trans        &trans
      // ┣━━━━━24━━━━━━╋━━━━━25━━━━━━╋━━━━━26━━━━━━╋━━━━━27━━━━━━╋━━━━━28━━━━━━╋━━━━━29━━━━━━┫   ┣━━━━━30━━━━━━╋━━━━━31━━━━━━╋━━━━━32━━━━━━╋━━━━━━33━━━━━╋━━━━━━34━━━━━╋━━━━━35━━━━━━┫
      // ┃  CTRL       ┃  Z          ┃  X          ┃  C          ┃  V          ┃  B          ┃   ┃  N          ┃  [{         ┃  ]}         ┃  .›         ┃  /?         ┃             ┃
           &trans        &trans        &trans        &trans        &trans        &trans            &trans        &kp LBKT      &kp RBKT      &trans        &trans        &trans
      // ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━36━━━━━━╋━━━━━37━━━━━━╋━━━━━38━━━━━━┫   ┣━━━━━39━━━━━━╋━━━━━40━━━━━━╋━━━━━41━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┛
      //                                           ┃  ALT        ┃  ADJUST     ┃  COMMAND    ┃   ┃  SPC        ┃  SYMB       ┃  ESC        ┃
                                                     &trans        &mo 3         &trans            &trans        &trans        &trans
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
    adjust {
      bindings = <
      // ┏━━━━━━0━━━━━━┳━━━━━━1━━━━━━┳━━━━━━2━━━━━━┳━━━━━━3━━━━━━┳━━━━━━4━━━━━━┳━━━━━━5━━━━━━┓   ┏━━━━━━6━━━━━━┳━━━━━━7━━━━━━┳━━━━━━8━━━━━━┳━━━━━━━9━━━━━┳━━━━━━10━━━━━┳━━━━━11━━━━━━┓
      // ┃             ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃  PLAY/PAUSE ┃  MUTE       ┃             ┃             ┃             ┃
           &none         &none         &none         &none         &none         &none             &none         &kp C_PP      &kp C_MUTE    &none         &none         &none
      // ┣━━━━━12━━━━━━╋━━━━━13━━━━━━╋━━━━━14━━━━━━╋━━━━━15━━━━━━╋━━━━━16━━━━━━╋━━━━━17━━━━━━┫   ┣━━━━━18━━━━━━╋━━━━━19━━━━━━╋━━━━━20━━━━━━╋━━━━━━21━━━━━╋━━━━━━22━━━━━╋━━━━━23━━━━━━┫
      // ┃  BTCLR      ┃  BT1        ┃  BT2        ┃  BT3        ┃  BT4        ┃  BT5        ┃   ┃             ┃  VOL-       ┃ VOL+        ┃             ┃             ┃             ┃
           &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none         &kp C_VOL_UP &kp C_VOL_DN   &none         &none         &none
      // ┣━━━━━24━━━━━━╋━━━━━25━━━━━━╋━━━━━26━━━━━━╋━━━━━27━━━━━━╋━━━━━28━━━━━━╋━━━━━29━━━━━━┫   ┣━━━━━30━━━━━━╋━━━━━31━━━━━━╋━━━━━32━━━━━━╋━━━━━━33━━━━━╋━━━━━━34━━━━━╋━━━━━35━━━━━━┫
      // ┃             ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃             ┃             ┃             ┃             ┃             ┃
           &none         &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &none
      // ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━36━━━━━━╋━━━━━37━━━━━━╋━━━━━38━━━━━━┫   ┣━━━━━39━━━━━━╋━━━━━40━━━━━━╋━━━━━41━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┛
      //                                           ┃  ALT        ┃  LAYER 1    ┃  COMMAND    ┃   ┃  SPC        ┃  ADJUST     ┃  ESC        ┃
                                                     &none         &trans        &trans            &trans        &trans        &trans
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
  };
};
