/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  keymap {
    compatible = "zmk,keymap";
    base {
      bindings = <
      // ┏━━━━━━0━━━━━━┳━━━━━━1━━━━━━┳━━━━━━2━━━━━━┳━━━━━━3━━━━━━┳━━━━━━4━━━━━━┳━━━━━━5━━━━━━┓   ┏━━━━━━6━━━━━━┳━━━━━━7━━━━━━┳━━━━━━8━━━━━━┳━━━━━━━9━━━━━┳━━━━━━10━━━━━┳━━━━━11━━━━━━┓
      // ┃  TAB        ┃  Q          ┃  W          ┃  E          ┃  R          ┃  T          ┃   ┃  Y          ┃  U          ┃  I          ┃  O          ┃  P          ┃  BS         ┃
           &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &kp BSPC
      // ┣━━━━━12━━━━━━╋━━━━━13━━━━━━╋━━━━━14━━━━━━╋━━━━━15━━━━━━╋━━━━━16━━━━━━╋━━━━━17━━━━━━┫   ┣━━━━━18━━━━━━╋━━━━━19━━━━━━╋━━━━━20━━━━━━╋━━━━━━21━━━━━╋━━━━━━22━━━━━╋━━━━━23━━━━━━┫
      // ┃  SHIFT      ┃  A          ┃  S          ┃  D          ┃  F          ┃      G      ┃   ┃  H          ┃  J          ┃  K          ┃  L          ┃  ;:         ┃  ENT        ┃
           &kp LSHFT     &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L         &kp SEMI      &kp RET
      // ┣━━━━━24━━━━━━╋━━━━━25━━━━━━╋━━━━━26━━━━━━╋━━━━━27━━━━━━╋━━━━━28━━━━━━╋━━━━━29━━━━━━┫   ┣━━━━━30━━━━━━╋━━━━━31━━━━━━╋━━━━━32━━━━━━╋━━━━━━33━━━━━╋━━━━━━34━━━━━╋━━━━━35━━━━━━┫
      // ┃  CTRL       ┃  Z          ┃  X          ┃  C          ┃  V          ┃  B          ┃   ┃  N          ┃  M          ┃  ,‹         ┃  .›         ┃  /?         ┃             ┃
           &kp LCTRL     &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &none
      // ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━36━━━━━━╋━━━━━37━━━━━━╋━━━━━38━━━━━━┫   ┣━━━━━39━━━━━━╋━━━━━40━━━━━━╋━━━━━41━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┛
      //                                           ┃  ALT        ┃  NAV        ┃  GUI        ┃   ┃  SPC        ┃  SYMB       ┃  ESC        ┃ 
                                                     &kp LALT      &mo 1         &kp LGUI          &kp SPACE     &mo 2         &kp ESC                                           
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
    navigation {
      bindings = <
      // ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
      // ┃  TAB        ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃             ┃             ┃             ┃             ┃  BS         ┃
           &trans        &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &trans
      // ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
      // ┃  SHIFT      ┃             ┃             ┃             ┃             ┃             ┃   ┃  ←          ┃  ↓          ┃  ↑          ┃  →          ┃             ┃  ENT        ┃
           &trans        &none         &none         &none         &none         &none             &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &none         &trans
      // ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
      // ┃  CTRL       ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃             ┃             ┃             ┃             ┃             ┃
           &trans        &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &trans
      // ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
      //                                           ┃  ALT        ┃  NAV        ┃  GUI        ┃   ┃  SPC        ┃  ADJUST     ┃  ESC        ┃
                                                     &trans        &trans        &trans            &trans        &mo 3         &trans
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
    adjust {
      bindings = <
      // ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓   ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
      // ┃             ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃  PLAY/PAUSE ┃  MUTE       ┃             ┃             ┃             ┃
           &none         &none         &none         &none         &none         &none             &none         &kp C_PP      &kp C_MUTE    &none         &none         &none
      // ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
      // ┃  BTCLR      ┃  BT1        ┃  BT2        ┃  BT3        ┃  BT4        ┃  BT5        ┃   ┃             ┃  VOL-       ┃ VOL+        ┃             ┃             ┃             ┃
           &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &none         &kp C_VOL_UP &kp C_VOL_DN   &none         &none         &none
      // ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
      // ┃             ┃             ┃             ┃             ┃             ┃             ┃   ┃             ┃             ┃             ┃             ┃             ┃             ┃
           &none         &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &none
      // ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫   ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┛
      //                                           ┃  ALT        ┃  LAYER 1    ┃  COMMAND    ┃   ┃  SPC        ┃  ADJUST     ┃  ESC        ┃
                                                     &none         &trans        &trans            &trans        &trans        &trans
      //                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛   ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
      >;
    };
  };
};
